$green: #20BF55;
$dark-gray: #2D2A32;

.top-bar a{
  color: $green;
}

.top-bar {
  background-color: $dark-gray;
}

body {
  background-color: gray;
}

// .delete {
//   float: right;
// }

.grid-container {

}
