$green: #20BF55;
$dark-gray: #2D2A32;

.top-bar a{
  color: $green;
}

.top-bar {
  background-color: $dark-gray;
}

body {
  margin: 10 px;
  background-color: gray;
}

// .delete {
//   float: right;
// }

.grid-container {

}

.tradeTile {
  background-color: white;
  margin: 10px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.button {
  margin-left: 10px;
}

p {
  margin: 5px;
}

.table-title {
  text-align: center;
}

.sell-dropdown {
  margin-left: 5px;
  width: 40px;
}

.alert {
  margin: auto;
  width: 50%;
}

